#define MANIFEST 						24
1						MANIFEST  DISCARDABLE "CopyToAsm.xml"
99						ICON      DISCARDABLE "Images/copytoasm_main.ico"
100						RCDATA    DISCARDABLE "Images/copytoasm_main.png"
101						RCDATA    DISCARDABLE "Images/copytoasm_clipboard.png"
102						RCDATA    DISCARDABLE "Images/copytoasm_refview.png"
121						RCDATA    DISCARDABLE "Images/check.png"
122						RCDATA    DISCARDABLE "Images/nocheck.png"
123						RCDATA    DISCARDABLE "Images/options.png"
130						ICON      DISCARDABLE "Images/options/option_labels.ico"
131						ICON      DISCARDABLE "Images/options/option_comments.ico"
132						ICON      DISCARDABLE "Images/options/options_formatstyle.ico"
133						ICON      DISCARDABLE "Images/options/options_exit.ico"
140						ICON      DISCARDABLE "Images/options/mui_captionbar/mui_minimize_lower_10x10.ico"
141						ICON      DISCARDABLE "Images/options/mui_captionbar/mui_maximize_10x10.ico"
142						ICON      DISCARDABLE "Images/options/mui_captionbar/mui_restore_10x10.ico"
143						ICON      DISCARDABLE "Images/options/mui_captionbar/mui_close_10x10.ico"
144						ICON      DISCARDABLE "Images/options/mui_checkbox/mui_checkbox_empty_16x16.ico"
145						ICON      DISCARDABLE "Images/options/mui_checkbox/mui_checkbox_tick_16x16.ico"
146						ICON      DISCARDABLE "Images/options/mui_radio/mui_radio_empty_16x16.ico"
147						ICON      DISCARDABLE "Images/options/mui_radio/mui_radio_16x16.ico"
